@inherits LayoutComponentBase

<div>
    <PublicNavMenu />

    <div class="container">
        @Body
    </div>
</div>

<footer class="border-top footer text-muted fixed-bottom">
    <div class="container mt-4 mb-4">
        &copy; 2021 - Public Layout
    </div>
</footer>